<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</head>

<body>
  {% include 'navigation.html' %}
  {% if errors|length > 0 %}
    {% include 'alert.html' %}
  {% endif %}
  <div id="main" class="container border px-0">
    <header class="py-2 border-bottom">
      <h2 class="text-center mb-0 fw-bold">{% block header %}{% endblock %}</h2>
    </header>
    <div class="row align-items-center my-2 justify-content-between px-3">
      {% block main %}{% endblock %}
    </div>
  </div>

  {% if jinja_is_logged_in() %}
  <div class="container px-0 text-end">
    <a href="{{ url_for('reset_token') }}" class="fw-semibold text-decoration-none">Get API Token</a>
  </div>
  {% endif %}

</body>

</html>
