<!DOCTYPE html>
<html>
<header>
  <title>Something Went Wrong</title>
</header>
<body>
  <div id="header">
    <h1>Wrong Inputs</h1>
  </div>
  <div id="main">
    Something went wrong
    <p>
      <a href={{ url_for('index') }} >Go Back</a>
    <p/>
  </div>
  <div id="footer">

  </div>
</body>
</html>
