{% extends "base.html" %}

{% block title %}List - {{ list_obj['name'] }}{% endblock %}

{% block header %}
List - {{ list_obj['name'] }}
{% endblock %}

{% block main %}
<div class="col-md-1 py-4"></div>
<div class="col-md-10 py-2 text-center">
  <figure>
    <blockquote class="blockquote">
      <p class="mb-0">{{ list_obj['description'] }}</p>
    </blockquote>
  </figure>

    <div class="text-center">
      <a class="btn btn-primary btn-sm" href="{{ url_for('render_edit_list', list_id=list_obj['list_id']) }}">Edit</a>
    </div>
</div>
<div class="col-md-1 py-4"></div>


{% if list_obj.cards|length == 0 %}
<div class="col-md-1 py-4"></div>
<div class="col-md-10 py-2 text-center mt-5 mb-2">
  <hr>
  <h5 class="fw-light text-danger">This list has no cards</h5>
  <hr>
</div>
<div class="col-md-1 py-4"></div>
{% endif %}


{% if list_obj.cards|length != 0 %}
<div class="col-md-1 py-4"></div>
<div class="col-md-10 row mt-5 mb-2">
<hr>

  {% set total_cards = list_obj.cards|length %}
{% set total_rows = (total_cards/3)|int %}

{% for row_no in range(0, total_rows+1) %}
  <div class="row col-md-12 justify-content-around">
    {% for card in list_obj.cards %}
      {% if ((loop.index0)/3)|int == row_no %}
        <div class="row col-md-4">
          {% include 'cards/board_card.html' %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
<hr class="mt-4">
</div>
<div class="col-md-1 py-4"></div>
{% endif %}


<div class="card text-white shadow-none border-0 mt-4">
  <div class="align-self-center">
    <a class="btn btn-primary btn-lg fs-6 fw-bolder px-4"
      href="{{ url_for('render_create_card', list_id=[list_obj['list_id']]) }}">Create Card</a>
  </div>
</div>
{% endblock main %}
