{% extends "base.html" %}

{% block title %}Create a list{% endblock %}

{% block header %}
Create list
{% endblock %}

{% block main %}
<div class="col-md-4 py-4"></div>
<div class="col-md-4 py-2">
  <form action="" method="POST" id="create-list-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-floating mb-2">
      <input type="name" name="name" class="form-control" id="name" required>
      <label for="name" class="fw-bold">Name</label>
    </div>
    <div class="form-floating mb-2">
      <textarea name="description" class="form-control" id="description" required
        style="height: 10rem;"></textarea>
      <label for="description" class="fw-bold">Description</label>
    </div>
    <div>
      <input type="submit" value="Create List" class="btn btn-primary btn-lg w-100">
    </div>
  </form>
</div>
<div class="col-md-4 py-2"></div>
{% endblock main %}
