html {
  background: #fff;
  height: 100%;
}

body {
  font-family: "Fira Code", "Monaco", "JetBrains Mono";

  position: relative;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  max-width: 85em;
  margin-left: auto;
  margin-right: auto;

  min-height: 97vh;
  /* max-height: 100vh;
  height: 100%; */

  /* background: rgb(250, 250, 250); */

  padding-bottom: 1em;
}

nav h1 {
  font-family: "IBM Plex Sans";
  font-weight: 900;
}

header > h2 {
  font-family: "IBM Plex Sans";
  text-transform: uppercase;
  font-weight: 500;
}

#main-alert {
  position: fixed;
  width: 30%;
  left: 35%;
  top: 1em;
  z-index: 99999;
}

#main {
  min-height: 88vh;
}

#new_list {
  min-height: 80vh;
}

.hover-danger:hover {
  background-color: #b9171c !important;
}

.custom-checkbox {
  border: 1px solid #ced4da;
}

.dropdown-item:hover label,
.dropdown-item label:hover,
.dropdown-item:focus label,
.dropdown-item label:focus {
  color: #fff;
}
