{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block header %}
Stats
{% endblock %}

{% block main %}
{% set col_width, col_offset, add_list_col_width = list_display_offsets(lists) %}

{% for list in lists %}
  <div class="{{col_width}} py-2 px-0 align-self-baseline flex-column">{% include 'stats/stats_list.html' %}</div>
{% endfor %}

{% if lists|length < 5 %}
<div class="{{add_list_col_width}} py-2 px-0 text-center d-flex {{col_offset}}" id="new_list">
  <div class="align-self-center" style="position: fixed;top: 50%;">
    {% if lists|length == 0 %}
      <h4 class="fw-bold">You have no lists</h4>
    {% endif %}
    <a class="btn btn-secondary btn-lg fw-bolder px-4 fs-6" href="{{ url_for('render_create_list') }}">Create A List</a>
  </div>
</div>
{% endif %}
{% endblock main %}
