<div class="card bg-white mb-2 py-0 text-black-50 border-0">
  <div class="card-header py-2 text-center border-0">
    <h4 class="mb-0">{{ list['name'] }}</h3>
  </div>
</div>
<div class="card text-white bg-primary mb-1">
  <div class="card-header px-2 py-2 mb-0">
    <h5 class="card-title mb-0">Primary card title</h5>
  </div>
  <div class="card-body pb-0">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
    <p class="card-text mb-2"><span class="fw-bold">Due Date:</span> 2022-01-22</p>
    <p class="card-text mb-2"><span class="fw-bold">Status:</span> Not Complete</p>
  </div>
  <div class="card-footer bg-white rounded-0 py-2">
    <div class="dropdown dropdown-center text-center">
      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false"><span class="fw-bold">Actions</span></a>
      <div class="dropdown-menu w-100 py-1">
        <a class="dropdown-item" href="#">Edit</a>
        <a class="dropdown-item" href="#">Move List</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider mt-0"></div>
        <a class="dropdown-item bg-danger fw-bold text-white hover-danger" href="#">Delete</a>
      </div>
    </div>
  </div>
</div>
<div class="card text-white shadow-none border-0 mt-4">
  <div class="align-self-center">
    <a class="btn btn-primary btn-lg fs-2 fw-bolder px-4 rounded-circle"
      href="{{ url_for('render_create_card', list_id=[list['list_id']]) }}">+</a>
  </div>
</div>
